/target/
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/1 EqPart/2 Templ-dummies--Offer/1 DiffTerms/06_T-dummy--O-con_TC_OR_3_GTs_y_XOR_con_2_GTs_RES-NULL/O-con_TC_OR_3_GTs_y_XOR_con_2_GTs.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/003_T-Sin_TCs_QC_e_SLO_i-1_GC_ints--O-dummy_RES-TRUE/T-Sin_TCs_GT_QC_enums_SLO_ints-1_GC_ints.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/004_T-Sin_TCs_QC_e_SLO_i-1_GC_enums--O-dummy_RES-FALSE/T-Sin_TCs_GT_QC_enums_SLO_ints-1_GC_enums.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/005_T-Sin_TCs_QC_e_SLO_i-GC1_enums_GC2_ints--O-dummy_RES-FALSE/T-Sin_TCs_GT_QC_enums_SLO_i-GC1_e.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/014_T-Sin_TCs_2_GTs_con_QCs-2_Is_GC1_i_GC2_e--O-dummy_RES-NULL/T-Sin_TCs_2_GTs_con_QCs-2_Itm_GC_i.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/019_T-2_GTs_Scope_y_QC_e-GC1_e_GC2_i--O-dum_RES-FALSE/T-Sin_TCs_2_GTs_Scop_y_QC_e-GC1_e_GC_i.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/020_T-2_GTs_Scope_y_QC_e-1_It_1_GC_i--O-dum_RES-TRUE/T-Sin_TCs_2_GTs_Scop_y_QC_e-1_Itm_1_GC_i.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/021_T-2_GTs_Scp_y_QC_e-2_Its_1_GC_i_GC_e--O-dum_RES-NULL/T-Sin_TCs_2_GTs_Scop_y_QC_e-2_Itms_GC1_i.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/035_T-OR_2_GTs_con_QC-2_Items_GC_i_GC_e--O-dum_RES-NULL/T-Con_TCs_OR_2_GTs_con_QC-2_Itm_GC_i_GC_e.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/2 T-nonDum--O-nonDum/006_T-Sin_TCs_QC_e_SLO_i--O-con_TC_OR_3_GTs_y_XOR_con_2_GTs_RES-NULL/O-con_TC_OR_3_GTs_y_XOR_con_2_GTs.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/2 T-nonDum--O-nonDum/018_T-2_GTs_Scope_y_QC_e--O-con_TC_OR_3_GTs_y_XOR_con_2_GTs_RES-NULL/O-con_TC_OR_3_GTs_y_XOR_con_2_GTs.wsag
src/test/resources/full-pack/raw-packs/ada-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/2 T-nonDum--O-nonDum/018_T-2_GTs_Scope_y_QC_e--O-con_TC_OR_3_GTs_y_XOR_con_2_GTs_RES-NULL/T-Sin_TCs_2_GTs_Scope_y_QC_enums.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/1 EqPart/2 Templ-dummies--Offer/1 DiffTerms/06_T-dummy--O-con_TC_OR_3_GTs_y_XOR_con_2_GTs_RES-NULL/O-con_TC_OR_3_GTs_y_XOR_con_2_GTs.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/003_T-Sin_TCs_QC_e_SLO_i-1_GC_ints--O-dummy_RES-TRUE/T-Sin_TCs_GT_QC_enums_SLO_ints-1_GC_ints.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/004_T-Sin_TCs_QC_e_SLO_i-1_GC_enums--O-dummy_RES-FALSE/T-Sin_TCs_GT_QC_enums_SLO_ints-1_GC_enums.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/005_T-Sin_TCs_QC_e_SLO_i-GC1_enums_GC2_ints--O-dummy_RES-FALSE/T-Sin_TCs_GT_QC_enums_SLO_i-GC1_e.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/014_T-Sin_TCs_2_GTs_con_QCs-2_Is_GC1_i_GC2_e--O-dummy_RES-NULL/T-Sin_TCs_2_GTs_con_QCs-2_Itm_GC_i.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/019_T-2_GTs_Scope_y_QC_e-GC1_e_GC2_i--O-dum_RES-FALSE/T-Sin_TCs_2_GTs_Scop_y_QC_e-GC1_e_GC_i.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/020_T-2_GTs_Scope_y_QC_e-1_It_1_GC_i--O-dum_RES-TRUE/T-Sin_TCs_2_GTs_Scop_y_QC_e-1_Itm_1_GC_i.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/021_T-2_GTs_Scp_y_QC_e-2_Its_1_GC_i_GC_e--O-dum_RES-NULL/T-Sin_TCs_2_GTs_Scop_y_QC_e-2_Itms_GC1_i.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/1 T-DiffTerms_DiffCCs--O-dum/035_T-OR_2_GTs_con_QC-2_Items_GC_i_GC_e--O-dum_RES-NULL/T-Con_TCs_OR_2_GTs_con_QC-2_Itm_GC_i_GC_e.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/2 T-nonDum--O-nonDum/006_T-Sin_TCs_QC_e_SLO_i--O-con_TC_OR_3_GTs_y_XOR_con_2_GTs_RES-NULL/O-con_TC_OR_3_GTs_y_XOR_con_2_GTs.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/2 T-nonDum--O-nonDum/018_T-2_GTs_Scope_y_QC_e--O-con_TC_OR_3_GTs_y_XOR_con_2_GTs_RES-NULL/O-con_TC_OR_3_GTs_y_XOR_con_2_GTs.wsag
src/test/resources/full-pack/raw-packs/aml-blackbox/wsag/08 ExplainNonCompliance (without temp)/2 Pairwise/2 T-nonDum--O-nonDum/018_T-2_GTs_Scope_y_QC_e--O-con_TC_OR_3_GTs_y_XOR_con_2_GTs_RES-NULL/T-Sin_TCs_2_GTs_Scope_y_QC_enums.wsag
src/main/resources/defaultConfig.json
